<div class="main-container">
  <h3>Detalle de gastos: {{tipo}}{{letra}}-{{cod}}-{{nro}}</h3>
  <table class='table table-striped table-hover table-sm' aria-labelledby="tableLabel" >
      <thead>
        <tr>
          <th>Detalle</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let det of detalles">
          <th>{{det.detalle}}</th>
          <th class="ar">{{det.importe | number:'1.2-2'}}</th>
        </tr>
      </tbody>
    </table>
</div>