
<div class="main-container">
    <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Espere un momento por favor...</p>  
    </ngx-spinner>

    <div class="row borde ">
        <div class="col-2 tal">
            <input type="radio" [value]="1" [(ngModel)]="filter" (change)="optionChange()"> Fecha<br>
            <input type="radio" [value]="2" [(ngModel)]="filter" (change)="optionChange()"> Paciente<br>
            <input type="radio" [value]="3" [(ngModel)]="filter" (change)="optionChange()"> Obra Social<br>
            <input type="radio" [value]="4" [(ngModel)]="filter" (change)="optionChange()"> Prestador
        </div>

        <div class="col-2 tal" *ngIf="isTipoS()" class="mt">
            Mostrar:
            <select [(ngModel)]="selectedTipo" class="max-width">
                <option [ngValue]="0">Por Matrícula</option>
                <option [ngValue]="1">Por Grupo</option>
            </select>
            <br><br>
            <div *ngIf="selectedTipo!=-1">
                <input type="text" [(ngModel)]="valor" />
            </div>
        </div>

        <div class="col-3" *ngIf="filter!=2">
            <div class="form-group">
                <div class="input-group dimension">
                  <label class="m-r">Desde:</label>
                  <input
                    class="form-control"
                    [(ngModel)]="desde"
                    type="date"
                  >
                </div>
              </div>
            
            <br>
            
            <div class="form-group">
                <div class="input-group dimension">
                  <label class="m-r">Hasta:</label>
                  <input
                    class="form-control"
                    [(ngModel)]="hasta"
                    type="date"
                  >
                </div>
              </div>

        </div>

        <div class="col-2 mt" *ngIf="filter==2">
            Paciente:<br><br>
            <input type="text" [(ngModel)]="paciente" />
        </div>

        <div class="col-2 ml" *ngIf="filter==4" >
            Prestador:
            <select [(ngModel)]="selectedPrestador" class="max-width">
                <option [ngValue]="-1">Todos</option>
                <option *ngFor="let p of prestadores" [ngValue]="p.cod_pres">{{p.prestador}}</option>
            </select>
        </div>

        <div class="col-2 ml" *ngIf="filter==3" >
            O. S.:
            <select [(ngModel)]="selectedOS" class="max-width">
                <option [ngValue]="-1">Todas</option>
                <option *ngFor="let os of obras_sociales" [ngValue]="os.cod_obra">{{os.descripcion}}</option>
            </select>
        </div>
        
        <div class="col-2">
            <button (click)="buscar()" class="btn btn-secondary mr">
                Buscar
                <i class="fa fa-search"></i>
            </button>
            <button (click)="print()" class="btn btn-secondary">
                <i class="fa fa-print"></i>
            </button><br><br>
            <input type="checkbox" [(ngModel)]="detalle" data-toggle="toggle"/> Ver Detalle Práctica
        </div>

    </div>
    <div class="row my-table-container">
        <table class='table table-sm my-table' aria-labelledby="tableLabel" >
            <thead>
              <tr>
                <th>Nro Orden</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Fecha de Pago</th>
                <th>Paciente</th>
                <th>Prestador</th>
                <th>Obra Social</th>
                <th>% de Recargo</th>
                <th>Importe Facturado</th>
                <th>Debitos/Creditos</th>
                <th>Total</th>
                <th>Importe Liquidado</th>
                <th>Importe IVA</th>
                <th>Grupo</th>
                <th>% Grupo</th>
                <th>Nro de Liquidación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes" [class.detalle1]="detalle1(orden)" [class.detalle2]="detalle2(orden)" [class.detalle3]="detalle3(orden)" >
                <td >
                    <div [class.hide]="!isVisible(orden, 'nro_orden')">
                        {{orden.nro_orden}}
                    </div>
                </td>
                
                <td>
                    <div [class.hide]="!isVisible(orden, 'matricula')">
                        {{orden.matricula}}
                    </div>
                </td>
                <td >
                    <div [class.hide]="!isVisible(orden, 'nombre')">
                        {{orden.nombre}}
                    </div>
                    <div *ngIf="detalle3(orden)">
                        Débito/Crédito ATRASADO
                    </div>
                </td>
                
                <td>
                    <div [class.hide]="!isVisible(orden, 'fecha_op')">
                        {{orden.fecha_op | date:'dd/MM/yyyy'}}
                    </div>
                </td>
                <td >
                    <div [class.hide]="!isVisible(orden, 'paciente')">
                        {{orden.paciente}}
                    </div>
                </td>
                <td>
                    <div [class.hide]="!isVisible(orden, 'sigla')">
                        {{orden.sigla}}
                    </div>
                </td>
                <td>
                    
                    <div [class.hide]="!isVisible(orden, 'descripcion')">
                        <div *ngIf="detalle1(orden)">
                            Complejidad: {{orden.descripcion}}
                        </div>
                        <div *ngIf="!detalle1(orden)">
                            {{orden.descripcion}}
                        </div>
                        
                    </div>
                </td>
                <td >
                    <div [innerHTML]="getRecargo(orden)" class="a-r" [class.hide]="!isVisible(orden, 'recargo')">
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'importe_fact')">
                        {{orden.importe_fact | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'credito_total__debito_total')">
                        {{orden.credito_total - orden.debito_total | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'neto_total')">
                        {{orden.neto_total | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'importe')">
                        {{orden.importe | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'iva_fact_1')">
                        {{orden.iva_fact_1 | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div [class.hide]="!isVisible(orden, 'grupo')">
                        {{orden.grupo | isnull}} {{orden.nombre_grupo | isnull}}
                    </div>
                </td>
                <td >
                    <div class="a-r" [class.hide]="!isVisible(orden, 'porcentaje')">
                        {{orden.porcentaje | number:'1.2-2'}}
                    </div>
                </td>
                <td >
                    <div [class.hide]="!isVisible(orden, 'nro_liq')">
                        {{orden.nro_liq}}
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>