.a-r{
    text-align: right;
    padding-right: 20px;
}

.mr{
    margin-right: 20px;
}

.borde{
    /*border: 1px solid lightgrey;
    border-radius: 10px;*/
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.my-table-container{
    
}
.my-table{
    font-size: 10px;
}

.detalle1{
    background-color: rgb(219, 235, 219) !important;
}
.detalle2{
    background-color: rgb(228, 242, 250) !important;
}
.detalle3{
    background-color: rgb(236, 230, 230) !important;
}

.hide{
    visibility: hidden
}
.max-width{
    max-width: 100%;
}

.tal{
    text-align: left;
}
.mt{
    margin-top: 7px;
}
.ml{
    margin-left: 10px;
}

.m-r{
    margin-top: 6px;
    margin-right: 20px;
}
.dimension{
    width: 250px !important;
}
.h{
    height: 38px;
}