tfoot {
    background-color: #666666;
    color: #dddddd;
    font-weight: 500;
  }

.a-r{
    text-align: right;
    padding-right: 20px;
}

.mr{
  margin-right: 20px;
}

.mt{
  margin-top: 8px;
}

.total{
  background-color: #666666;
  color: #dddddd;
  font-weight: 500;
}

.borde{
  /*border: 1px solid lightgrey;
  border-radius: 10px;*/
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.m-r{
  margin-top: 6px;
  margin-right: 20px;
}
.dimension{
  width: 250px !important;
}
.h{
  height: 38px;
}