<div class="main-container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Espere un momento por favor...</p>  
    </ngx-spinner>
    
    <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>
    
    <div class="row borde">
      <div class="col-4">
        
        <div class="form-group">
          <div class="input-group dimension">
            <label class="m-r">Desde:</label>
            <input
              class="form-control"
              [(ngModel)]="desde"
              type="date"
            >
          </div>
        </div>

      </div>
      <div class="col-4">
        
        <div class="form-group">
          <div class="input-group dimension">
            <label class="m-r">Hasta:</label>
            <input
              class="form-control"
              [(ngModel)]="hasta"
              type="date"
            >
          </div>
        </div>

      </div>
      <div class="col-2">
        <div>
          <input type="radio" [value]="1" [(ngModel)]="porGrupo" (change)="buscar()"> Ordenar por fecha
          <br>
          <input type="radio" [value]="2" [(ngModel)]="porGrupo" (change)="buscar()"> Ordenar por grupo
        </div>
        
      </div>
      <div class="col-2">
        <button (click)="buscar()" class="btn btn-secondary mr">
          Buscar
          <i class="fa fa-search"></i>
        </button>
        <button (click)="print()" class="btn btn-secondary">
          <i class="fa fa-print"></i>
        </button>
      </div>


      
  
    </div>
  
    <br>

    <ngb-tabset [destroyOnHide]="false">
  
      <ngb-tab title="Acreditaciones en Bancos" *ngIf="!esTipoContadorS()">
        <ng-template ngbTabContent>
          <table class='table table-striped table-hover table-sm' aria-labelledby="tableLabel" style="font-size: 12px;">
            <thead>
              <tr>
                <th>Orden de Pago</th>
                <th>Acred.</th>
                <th *ngFor="let b of bancos">
                  {{ b.banco }}
                  {{ b.tipo }}
                  {{ b.cuenta }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ordenes | keyvalue">
                <td >{{ item.value.tipo }} {{ item.value.letra }} {{ item.value.cod }}-{{ item.value.nro }}</td>
                <td>{{ item.value.fecha | date: 'dd/MM/yyyy'}}</td>

                <td class="a-r" *ngFor="let b of bancos">
                  <div *ngFor="let banco of item.value.bancos">
                    <div *ngIf="banco.banco===b.banco">
                      {{ banco.monto | number:'1.2-2' }}
                    </div>
                  </div>
                </td>
                
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totales:</td>
                <td></td>
                <th class="a-r" *ngFor="let b of bancos">
                  {{ b.monto | number:'1.2-2' }}
                </th>
              </tr>
            </tfoot>
          </table>
        </ng-template>
      </ngb-tab>
       
      <ngb-tab title="Liq. / O.P.">
        <ng-template ngbTabContent>
          <table class='table table-sm' aria-labelledby="tableLabel" style="font-size: 12px;">
            <thead>
              <tr>
                <th  WIDTH="120" >Orden de Pago</th>
                <th>Fecha</th>
                <th>Grp</th>
                <th>Nombre</th>
                <th>Importe</th>
                <th>I.V.A.</th>
                <th>Ret.I.G.</th>
                <th>Ret.I.B.</th>
                <th>Gtos. Admin.</th>
                <th>Gtos. Var.</th>
                <th>Neto</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let accreditation of accreditations" [class.total]="!accreditation.tipo_op">
                <td *ngIf="accreditation.tipo_op">
                  <a [href]="getOPUrl(accreditation)"  target="_blank">
                    {{ accreditation.tipo_op }}{{ accreditation.letra_op }}-{{ accreditation.cod_op }}-{{ accreditation.nro_op }}
                  </a>
                </td>
                <td *ngIf="!accreditation.tipo_op">
                  Total por grupo:
                </td>
                <td>{{ accreditation.fecha_op | date: 'dd/MM/yyyy'}}</td>
                <td>{{ accreditation.grupo | grupo }}</td>
                <td>{{ accreditation.nombre_grupo }}</td>
                <td class="a-r" *ngIf="accreditation.tipo_op">
                  <a [href]="getLiqUrl(accreditation)"  target="_blank">
                    {{ accreditation.importe | zeroAmount | number:'1.2-2' }}
                  </a>
                </td>
                <td class="a-r" *ngIf="!accreditation.tipo_op">
                    {{ accreditation.importe | zeroAmount | number:'1.2-2' }}
                </td>
                <td class="a-r">{{ accreditation.iva | zeroAmount | number:'1.2-2' }}</td>
                <td class="a-r" *ngIf="accreditation.tipo_op">
                  <a [href]="getRetIGUrl(accreditation)"  target="_blank">
                    {{ accreditation.imp_ret_ig | zeroAmount | number:'1.2-2' }}
                  </a>
                </td>
                <td class="a-r" *ngIf="!accreditation.tipo_op">
                  {{ accreditation.imp_ret_ig | zeroAmount | number:'1.2-2' }}
                </td>
                <td class="a-r">{{ accreditation.imp_ret_ib | zeroAmount | number:'1.2-2' }}</td>
                <td class="a-r">{{ accreditation.imp_gtos_admin | zeroAmount | number:'1.2-2' }}</td>
                
                <td class="a-r" *ngIf="!accreditation.tipo_op">
                  {{ accreditation.gtos_varios | zeroAmount | number:'1.2-2' }}
                </td>

                <td class="a-r" *ngIf="accreditation.tipo_op">
                  <a target="_blank" [routerLink]="['/expenses-detail/', accreditation.tipo_op, accreditation.letra_op, accreditation.cod_op, accreditation.nro_op]"  >
                    {{ accreditation.gtos_varios | zeroAmount | number:'1.2-2' }}
                  </a>
                </td>


                <td class="a-r">{{ accreditation.neto | zeroAmount | number:'1.2-2' }}</td>
                <td>{{ accreditation.tipo_liq }}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="porGrupo==1">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Totales:</td>
                <td class="a-r">{{ importeTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ ivaTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ retIGTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ retIBTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ gastAdminTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ gastVarTotal | number:'1.2-2' }}</td>
                <td class="a-r">{{ netoTotal | number:'1.2-2' }}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  
    
  
  </div>