<div class="main-container center">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Espere un momento por favor...</p>  
    </ngx-spinner>
  
    <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>
  
    <div class="row borde">
      <div class="col-4" >
        Tipo de Documento:
        <select [(ngModel)]="selectedTipoDoc" (change)="getPeriodos()">
          <option [ngValue]="-1">Seleccionar</option>
          <option *ngFor="let td of tipoDocumentos" [ngValue]="td.codigo">{{td.nombre}}</option>
        </select>
      </div>

      <div class="col-4 m-t" *ngIf="selectedTipoDoc != -1" >
        {{ label }}:
        <select [(ngModel)]="selectedPeriodo">
          <option *ngFor="let p of periodos" [ngValue]="p.valor">{{p.valor}}</option>
        </select>
      </div>
      
      <div class="col-4 m-t">
        <button (click)="buscar()" class="btn btn-secondary m-r">
          Buscar
          <i class="fa fa-search"></i>
        </button>
        <button (click)="downloadAll()" class="btn btn-secondary">
          <i class="fa fa-download"></i>
        </button>
      </div>
  
    </div>
  
    <br>
  
    <table class='table table-striped table-hover table-sm' aria-labelledby="tableLabel" >
      <thead>
        <tr>
          <th>Tipo Documento</th>
          <th>Documento</th>
          <th>Descargar</th>
          <th><input type="checkbox" (change)="checkAll()"/></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of result">
          <td class="a-l">{{r.descripcion}}</td>
          <td class="a-l">{{r.nombre}}</td>
          <td>
            <a href="javascript:;" (click)="download(r)" download >
              <i class="fa fa-download"></i>
            </a>
          </td>
          <td><input type="checkbox" [checked]="r?.print" (change)="check(r)"/></td>
        </tr>
      </tbody>
    </table>
  
  </div>