<div class="main-container">
  <div *ngIf="isTipoOQ()">
    Para ver el documento de ayuda de la Plataforma de Facturación Digital, haz click
    <a [href]="getUri()" target="_blank">
      aquí
      <i class="fa fa-file-pdf-o"></i>
    </a>
  </div>
    
</div>
