<body>
  <app-top-menu *ngIf="isNotLogin()"></app-top-menu>
  <app-nav-menu *ngIf="isNotLogin()"></app-nav-menu>
  <router-outlet></router-outlet>
  <footer *ngIf="isNotLogin()" class="fixed-footer">
    <p>© 2020 <a href="wwww.ararosario.com.ar"> ARA </a>- Asociación Rosarina de Anestesia, Analgesia y Reanimación. Todos los derechos reservados.</p>
  </footer>
</body>
