<div class="main-container">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Espere un momento por favor...</p>  
  </ngx-spinner>

  <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>

  <div class="row borde">
    <div class="col-3">

      <div class="form-group">
        <div class="input-group dimension">
          <label class="m-r">Desde:</label>
          <input
            type="date"
            class="form-control"
            (change)="onChangeDate()"
            [(ngModel)]="desde"
          >
          
        </div>
      </div>

    </div>
    <div class="col-3">
      
      <div class="form-group">
        <div class="input-group dimension">
          <label class="m-r">Hasta:</label>
          <input
            type="date"
            class="form-control"
            (change)="onChangeDate()"
            [(ngModel)]="hasta"
          >
        </div>
      </div>

    </div>
    <div class="col-3 mt" >
      O. S.:
      <select [(ngModel)]="selectedOS">
        <option [ngValue]="-1">Todas</option>
        <option *ngFor="let os of obras_sociales" [ngValue]="os.cod_obra">{{os.nombre}}</option>
      </select>
    </div>
    
    <div class="col-2">
      <button (click)="buscar()" class="btn btn-secondary mr">
        Buscar
        <i class="fa fa-search"></i>
      </button>
      <button (click)="print()" class="btn btn-secondary">
        <i class="fa fa-print"></i>
      </button>
    </div>

    

  </div>

  <br>

  <table class='table table-striped table-hover table-sm' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th>Factura</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Imágen PDF</th>
        <th>Img. Prácticas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td>
          <a [routerLink]="['/voucher-detail']" [queryParams]="{tipo: factura.tipo, letra: factura.letra, cod: factura.cod, nro: factura.nro}" target="_blank">
            {{ factura.tipo }}{{ factura.letra }}-{{ factura.cod }}-{{ factura.nro }}
          </a>
        </td>
        <td>{{ factura.fecha_fact | date:'dd/MM/yyyy'  }}</td>
        <td class="a-r">{{ factura.neto | number:'1.2-2' }}</td>
        <td>
          <a [href]="getPdfUri(factura)"  target="_blank">
            Factura PDF Ver
            <i class="fa fa-file-pdf-o"></i>
          </a>
        </td>
        <td>
          <a [href]="getZipUri(factura)" target="_blank">
            Descargar
            <i class="fa fa-download"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

