.a-r{
    text-align: right;
    padding-right: 20px;
}

.mr{
    margin-right: 20px;
}

.mt{
    padding-top: 8px;
}
.borde{
    /*border: 1px solid lightgrey;
    border-radius: 10px;*/
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }


  .m-r{
    margin-top: 6px;
    margin-right: 20px;
  }
  .dimension{
    width: 245px !important;
  }
  .h{
    height: 38px;
  }