a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 16px;
  width: 250px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.m-r{
  margin-left: 20px;
}

.navbar{
  background-color: rgb(9, 126, 155) !important;
}

.container{
  color: white !important;
}

.nav-link{
  color: white !important;
}

.icon-color{
  background-color: rgb(128, 189, 204) !important;
  color: white !important;
}

