<header>
  <nav
    class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 d-none d-md-block">
          <a class="navbar-brand" [routerLink]="['/home']" style="text-align: left;">
            <img src="../../assets/logo_ara.png" class="m-r">
          </a>
        </div>
        <div class="col-md-5 d-none d-md-block text-center" style="color: white">
          Asociación Rosarina de Anestesia, Analgesia y Reanimación
        </div>
      </div>

      <button
        class="navbar-toggler icon-color"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <i class="fa fa-bars"></i>
      </button>

      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <!--<li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/home']">Inicio</a>
          </li>-->

          <li *ngIf="isTipoMGS()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/accreditations']">
              Acreditaciones
            </a>
          </li>

          <li *ngIf="isTipoMGS()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/orders']">
              Ordenes Pagadas
            </a>
          </li>

          <li *ngIf="isTipoOQ()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/voucher']">
              Comprobantes
            </a>
          </li>

          <li *ngIf="isTipoMG()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/downloads']">
              Descargas
            </a>
          </li>

          <li *ngIf="isTipoMGSC()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/convenios']">
              Convenios
            </a>
          </li>

          <li *ngIf="isTipoMGSC()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/normas-facturacion']">
              Normas Facturación
            </a>
          </li>

          <li *ngIf="isTipoMGSC()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/cronograma']">
              Cronograma
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/change']">
              Cambiar Password
            </a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/help']">
              Ayuda
            </a>
          </li>

          <li>
            <a class="nav-link text-dark" [routerLink]="['/']">
              <i class="fa fa-power-off"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
