
<div class="login main-container">
  <form class="custom-form" method="post">
    <div class="custom-form-header">
      <p>
        <img src="../../assets/logo_ara.png">
      </p>
      <p>
        Asociación Rosarina de Anestesia, Analgesia y Reanimación
      </p>
      <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>

    </div>



    <h3>Iniciar Sesión</h3>
    <input
      type="text"
      [(ngModel)]="matricula"
      name="matricula"
      placeholder="Usuario"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    <button type="submit" (click)="login()">Ingresar</button>
  </form>
</div>
