<div class="main-container">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Espere un momento por favor...</p>  
  </ngx-spinner>
  <h3>Detalle de Comprobante: {{ tipo }}{{ letra }}-{{ cod }}-{{ nro }}</h3>
  <br>
  
  <table class="table table-striped table-hover table-sm">  
    <thead>  
      <tr>  
        <th></th>  
        <th>Orden</th>  
        <th>Matrcula</th>  
        <th>Nombre</th>  
        <th>Fecha</th>  
        <th>Paciente</th>  
        <th>Cód. Afiliado</th>  
        <th>Prestador</th>
        <th>Porcentaje</th>
        <th>Nota</th>
        <th>Imágen</th>
      </tr>  
    </thead>  
    <tbody *ngFor="let detalle of detalles; let i = index">  
      <tr>  
        <td align="center">  
          <a class="" *ngIf="!hideme[i]" (click)="showItems(i)">  
            <i class="fa fa-plus"></i>
          </a>  
          <a class="" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]">  
            <i class="fa fa-minus" ></i>
          </a>  
        </td>
        <td>{{ detalle.nro_orden }}</td>
        <td>{{ detalle.matricula }}</td>
        <td>{{ detalle.nombre }}</td>
        <td>{{ detalle.fecha_practica | date:'dd/MM/yyyy' }}</td>
        <td>{{ detalle.paciente }}</td>
        <td>{{ detalle.cod_afiliado }}</td>
        <td>{{ detalle.prestador }}</td>
        <td>{{ detalle.tipo_rec | tipoRec: detalle.por_rec }}</td>
        <td>{{ detalle.seguimiento }}</td>
        <td>
          <a [href]="getPdfUri(img.url)"  target="_blank" *ngFor="let img of detalle.imagenes">
            <i class="fa fa-file-pdf-o m-r"></i>
          </a>
        </td>
      </tr>  
      <!-- <div id="myresult" class="img-zoom-result"></div> -->  
      <tr [hidden]="!hideme[i]" class="sub-table no-bg">  
        <td class="center"> </td>  
        <td colspan="15" class="p-0">  
          <table class="table mb-0 table-striped">  
            <thead class="bg-dark text-white">  
              <tr>  
                <th>Código</th>  
                <th>Descripción</th>  
                <th>Vía</th>  
                <th>Complejidad</th>
                <th>Porcentaje</th>  
                <th>Valor</th>  
                <th>Recargo</th>  
                <th>Importe</th>  
              </tr>  
            </thead>  
            <tbody>  
              <tr *ngFor="let item of detalle.items">  
                <td>{{item.cod_nom}}</td>  
                <td>{{item.descripcion}}</td>  
                <td>{{item.via}}</td>  
                <td>{{item.complejidad}}</td>
                <td>{{item.porcentaje | number:'1.2-2'}}</td>  
                <td>{{item.valor | number:'1.2-2'}}</td>  
                <td>{{item.recargo | number:'1.2-2'}}</td>  
                <td>{{item.importe | number:'1.2-2'}}</td>
              </tr>  
            </tbody>  
          </table>  
        </td>  
      </tr>  
    </tbody>  
  </table> 
 
</div>