<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <label class="m-r">{{ label }}:</label>
      <input
        class="form-control dimension"
        placeholder="dd/MM/yyyy"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
        (dateSelect)="onChangeDate($event)"
      >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar h" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>
</form>
