<div class="main-container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Espere un momento por favor...</p>  
    </ngx-spinner>
  
    <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>
  
    <div class="row">
      <div class="col-7 mt" >
        Obra Social:
        <select [(ngModel)]="selectedOS">
          <option [ngValue]="-1">Seleccionar</option>
          <option *ngFor="let os of obras_sociales" [ngValue]="os.cod_obra">{{os.descripcion}}{{os.nombre | gerenciadora}}</option>
        </select>
      </div>
      
      <div class="col-3">
        <button (click)="buscar()" class="btn btn-secondary mr">
          Buscar
          <i class="fa fa-search"></i>
        </button>
        <button (click)="print()" class="btn btn-secondary">
          <i class="fa fa-print"></i>
        </button>
      </div>
    </div>
  
    <br>
  
    <table class='table table-striped table-hover table-sm dimensiones' aria-labelledby="tableLabel" >
      <thead>
        <tr>
          <th>Complejidad</th>
          <th>Valor Otorgado<br>al {{fecha | date:'dd/MM/yyyy'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let convenio of convenios">
          <td>{{convenio.complejidad}}</td>
          <td class="ar">{{convenio.valor_actual | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>