<div class="login main-container">
  <form class="custom-form" method="post">
    <div class="custom-form-header">
      <p>
        <img src="../../assets/logo_ara.png">
      </p>
      <p>
        Asociación Rosarina de Anestesia, Analgesia y Reanimación
      </p>
      <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>
    </div>

    <h3>Cambiar Contraseña</h3>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña Actual"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="passwordNew1"
      name="password"
      placeholder="Contraseña Nueva"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="passwordNew2"
      name="password"
      placeholder="Confirmar Contraseña"
      required="required"
    />
    <button type="submit" (click)="cambiar()">Cambiar</button>
  </form>
</div>
