<nav class="navbar navbar-expand-md navbar-dark bg-dark color d-none d-md-block sticky-top">
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <div class="nav-item m-r">Usuario: {{ user?.matricula }}</div>
          <!--<div class="nav-item m-r">Tipo: {{ user?.tipo }}</div>-->
          <div class="nav-item">Nombre: {{ user?.nombre }}</div>
      </div>
      <div class="form-inline ml-auto">
        <div class="nav-item m-r">Fecha: {{ fecha | date: 'dd/MM/yyyy HH:mm'}}</div>
      </div>
  </div>
</nav>
