/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.fixed-footer{
    position: sticky;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    height: auto;
    text-align: center;
    background-color: rgb(9, 126, 155);
    color: white;
}

.main-container{
  min-height: calc(100vh - 30px) !important;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


